<div id="<%= dom_id staff %>">
  <p>
    <strong>Name:</strong>
    <%= staff.name %>
  </p>

  <p>
    <strong>Designation:</strong>
    <%= staff.designation %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= staff.address %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= staff.salary %>
  </p>

</div>
