<div id="<%= dom_id client %>">
  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Profession:</strong>
    <%= client.profession %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= client.email %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= client.contact_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= client.address %>
  </p>

</div>
